<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <!--make active dynamic-->
                <li class="nav-item"><a th:text="#{navbar_home}" href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a th:text="#{navbar_about}" href="/about" class="nav-link">About</a></li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a th:text="#{navbar_admin}" href="/admin" class="nav-link">Admin</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:text="#{navbar_add_offer}" href="/offers/add" class="nav-link">Add Offer</a></li>
                <!--                <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>-->
                <!--                <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>-->
                <li class="nav-item "><a th:text="#{navbar_all_cars}" href="/offers/all" class="nav-link">Cars</a></li>
                <!--                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>-->
                <!--                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>-->


            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a th:text="#{navbar_login}" class="nav-link btn btn-outline-success nav-button mx-3"
                       th:href="@{/users/login}">Log in</a>
                </li>

                <!--                TODO: complete the dropdown-->
                <!--                <div class="dropdown nav-item">-->
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-person"></i>
                        <span sec:authorize="isAuthenticated()"
                              th:text="${#authentication.principal.firstName}"></span>
                        <!--                        <i class="icon-keyboard_arrow_down"></i>-->
                    </a>
                    <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="#">My cars</a>
                        <a class="dropdown-item" href="#">My rents</a>
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/users/logout}" th:method="post">
                            <button class="btn logout dropdown-item" type="submit">
                                <span th:text="#{navbar_logout}"></span>
                                <span class="ion-ios-log-out float-right"></span>
                            </button>
                        </form>
        </div>
        </li>
        <!--                </div>-->
        <!--                <li class="nav-item" sec:authorize="!isAuthenticated()">-->
        <!--                    <form th:action="@{/users/logout}" th:method="post">-->
        <!--                        <button class="nav-link btn btn-outline-success logout nav-button py-3 px-2 text-white"-->
        <!--                                type="submit">-->
        <!--                            <span th:text="#{navbar_logout}"></span>-->
        <!--                        </button>-->
        <!--                    </form>-->
        <!--                </li>-->
        <li class="nav-item">
            <form th:method="get">
                <select class="nav-link btn nav-button text-white py-3 px-2"
                        onchange="this.form.submit()"
                        id="lang"
                        name="lang">
                    <option class="text-dark" value="en_US" th:selected="${#locale.toString()} == 'en_US'">EN
                    </option>
                    <option class="text-dark" value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">БГ
                    </option>
                </select>
            </form>
        </li>

        </ul>
    </div>
    </div>
</nav>
</body>
</html>