<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <!--          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact <i class="ion-ios-arrow-forward"></i></span></p>-->
                <h1 class="mb-3 bread">Share your car</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <!--        	<div class="col-md-4">-->
            <!--        		<div class="row mb-5">-->
            <!--		          <div class="col-md-12">-->
            <!--		          	<div class="border w-100 p-4 rounded mb-2 d-flex">-->
            <!--			          	<div class="icon mr-3">-->
            <!--			          		<span class="icon-map-o"></span>-->
            <!--			          	</div>-->
            <!--			            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>-->
            <!--			          </div>-->
            <!--		          </div>-->
            <!--		          <div class="col-md-12">-->
            <!--		          	<div class="border w-100 p-4 rounded mb-2 d-flex">-->
            <!--			          	<div class="icon mr-3">-->
            <!--			          		<span class="icon-mobile-phone"></span>-->
            <!--			          	</div>-->
            <!--			            <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>-->
            <!--			          </div>-->
            <!--		          </div>-->
            <!--		          <div class="col-md-12">-->
            <!--		          	<div class="border w-100 p-4 rounded mb-2 d-flex">-->
            <!--			          	<div class="icon mr-3">-->
            <!--			          		<span class="icon-envelope-o"></span>-->
            <!--			          	</div>-->
            <!--			            <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>-->
            <!--			          </div>-->
            <!--		          </div>-->
            <!--		        </div>-->
            <!--          </div>-->
            <div class="col-md-8 block-9 mb-md-5 justify-content-center">
                <form th:action="@{/offers/add}" th:method="post" class="bg-light p-5 contact-form">
                    <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label class="field">Model</label>
                        <select  id="model" class="form-control">
                            <option value="">- Select a model -</option>
                            <optgroup label="Brand name">
                                <option>Model</option>
                            </optgroup>
                        </select>
                        <p class="errors alert alert-danger">
                            Vehicle model is required.
                        </p>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label  for="price" class="field">Price per day(EUR)</label>
                        <input id="price" type="number" class="form-control" placeholder="Price per day" step="any">
                        <p class="errors alert alert-danger">
                            Price per day is required.
                        </p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="engine" class="field">Engine type</label>
                        <select id="engine" class="form-control">
                            <option value="">- Select engine type -</option>
                            <option>
                                Engine type
                            </option>
                        </select>
                        <p class="errors alert alert-danger">
                            Engine type is required.
                        </p>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label class="field" for="transmission">Transmission type</label>
                        <select id="transmission" class="form-control">
                            <option value="">- Select transmission type -</option>
                            <option> Transmission type
                            </option>
                        </select>
                        <p class="errors alert alert-danger">
                            Transmission type is required.
                        </p>
                    </div>
                    </div>
                        <div class="row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="year" class="field">Manufacturing year</label>
                                <input id="year" type="number" class="form-control" placeholder="Manufacturing year">
                                <p class="errors alert alert-danger">
                                    Manufacturing year is required.
                                </p>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label  for="fuelTank" class="field">Fuel tank volume</label>
                                <input id="fuelTank" type="number" class="form-control" placeholder="Fuel tank volume">
                                <p class="errors alert alert-danger">
                                    Fuel tank volume is required.
                                </p>
                            </div>
                        </div>
                    <div class="row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="mileage" class="field">Mileage</label>
                                <input id="mileage" type="number" class="form-control" placeholder="mileage">
                                <p class="errors alert alert-danger">
                                    Mileage is required.
                                </p>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label  for="seats-count" class="field">Fuel tank volume</label>
                                <input id="seats-count" type="number" class="form-control" placeholder="number of seats">
                                <p class="errors alert alert-danger">
                                    Fuel tank volume is required.
                                </p>
                            </div>
                        </div>
                    <div class="form-group">
                        <label  for="deposit" class="field">Deposit(EUR)</label>
                        <input id="deposit" type="number" class="form-control" placeholder="Deposit" step="any">
                        <p class="errors alert alert-danger">
                            Deposit is required.
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="field" for="description">Description</label>
                        <textarea id="description" type="textarea" class="form-control" rows="3"
                                  placeholder="Description"></textarea>
                        <p class="errors alert alert-danger">
                            Description is required.
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="field" for="imageUrl">Image URL</label>
                        <input id="imageUrl" type="url" class="form-control"
                               placeholder="Put vehicle image URL here">
                        <p class="errors alert alert-danger">
                            Vehicle image URL is required.
                        </p>
                    </div>

                    <div class="form-group">
                    </div>
                    <input type="submit" value="Share your car" class="btn btn-primary btn-block btn-outline-dark">
                </form>
            </div>
        </div>
        <!--        <div class="row justify-content-center">-->
        <!--        	<div class="col-md-12">-->
        <!--        		<div id="map" class="bg-white"></div>-->
        <!--        	</div>-->
        <!--        </div>-->
    </div>
</section>


<div th:replace="~{fragments/footer}">Footer</div>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.timepicker.min.js"></script>
<script src="/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/js/google-map.js"></script>
<script src="/js/main.js"></script>

</body>
</html>